.filter-group{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0px 40px;
}
.filter-range{
    width: 400px;
    margin-left: 40px;
    margin:0px 40px;
}
.filter-type{
    margin-left: 40px;
    margin:0px 40px;
}