.admin-author-group{
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.admin-author-header{
    display: inline-flex;
    justify-content: center;
    margin: 10px auto;

}
.admin-author-header-search{
    margin-left: 10px;
    margin-right: 10px;
}
.admin-author-table{
    overflow-x: auto;
}
.admin-author-table-authors{
    display: grid;
}
.admin-author-add-footer{
    display: flex;
    justify-content: flex-end;
    margin: 10px auto;
}
.admin-author-table-pagination{
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
.btn-primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-left: 5px;
}
.page-link{
    color: #343a40 !important;
    
}
.page-link:focus{
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1) !important;
}
.page-item.active .page-link{
    color: #fff !important;
    background-color: #343a40 !important;
    border-color: #454d55 !important;
}
.admin-author-header-search-input{
    display: inline-flex;
}