nav {
    // position: flex;
    //     flex-wrap: wrap;
    //     top: 0;
    //     width: 100%;
    //     height: 77px;
    //     padding-bottom: 10px;
    //     z-index: 9999;
        @media (prefers-reduced-motion: no-preference) {
            .nav-logo { 
                width: 5%;
                animation: nav-logo-spin infinite 7s linear;
            }
        }
        @keyframes nav-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    h2{
        a {
            color: rgb(68, 68, 68);
        }
        a:hover {
            color: rgb(68, 68, 68);
            text-decoration:none;
        }
      
    }  
        
}
li.nav-item{
  a{
    color: rgb(68, 68, 68);
    border-color: rgb(68, 68, 68);
  }
  .btn-outline-primary:hover{
    background-color: rgb(68, 68, 68);
    border-color: rgb(68, 68, 68); 
    color: white
  }
  .btn-outline-primary:active {
    background-color: rgb(68, 68, 68) !important;
    border-color: rgb(68, 68, 68)!important; 
}
}
li.nav-item-shopping-cart {
    .cart{
        width: 44px;
        height: 45px;
        position: relative;
        margin-top: 7px;
        cursor: pointer;
    }
   
}
span.badge-secondary-notification{
    color: #fff;
    background-color: #6c757d;
    position: absolute;
    margin-top: -10px;
} 

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color:  #343a40 !important;
}

