.books-group{
    margin: 0 auto;
    max-width: 610px;
    min-height: calc(100vh - 77px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.books-items{
    display: flex;
    flex-wrap: wrap;
}
.books-pagination{
    display: flex;
    justify-content: center;
}