.admin-user-group{
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.admin-user-header{
    display: inline-flex;
    justify-content: center;
    margin: 10px auto;

}
.admin-user-header-search{
    margin-left: 10px;
    margin-right: 10px;
}
.admin-user-table{
    overflow-x: auto;
}
.admin-user-table-authors{
    display: grid;
}
.admin-user-add-footer{
    display: flex;
    justify-content: flex-end;
    margin: 10px auto;
}
.admin-user-table-pagination{
    display: flex;
    justify-content: center;
    margin: 10px auto;
 
}
.page-link{
    color: #343a40 !important;
    
}
.page-link:focus{
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1) !important;
}
.page-item.active .page-link{
    color: #fff !important;
    background-color: #343a40 !important;
    border-color: #454d55 !important;
}
.admin-user-header-search-input{
    display: inline-flex;
}
td.table-item-avatar {
    width: 160px;
    .avatar-container {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        display: flex;
    
        .avatar-image{
            border-radius: 50%;
            max-width: 50px;
        }
      }
}
